Source: f5-notifier
Section: python
Priority: extra
Build-Depends: debhelper (>= 8),
 python (>= 2.6.6-3~),
 python-distutils-extra (>= 2.10),
 libglib2.0-bin
Maintainer: George Y. Kussumoto <contato@georgeyk.com.br>
Standards-Version: 3.9.3
XS-Python-Version: current

Package: f5-notifier
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${misc:Depends},
 ${python:Depends},
 gir1.2-glib-2.0,
 gir1.2-gtk-3.0,
 gir1.2-notify-0.7,
 python-gi,
 gir1.2-appindicator3-0.1
Description: F5 Notifier
 If you ever did some crazy F5-hitting in one web page, you really know how
 annoying it could be to wait for some page update.
 But that time is over and now you can give your F5 key a break!
 F5 Notifier watches that page and notify you if something has changed.
 Get up and get yourself a nice cup of coffee and, well, wait =)
 Also, you could track changes in local files and some experimental
 synchronization of your configuration across your computers by saving your
 settings in a Dropbox/Ubuntu One folder.
